#title {
    font-size: 3vw;
}

#enter-information-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    row-gap: 10vh;
    padding: 5vh 2vw;
}

#required {
    color: red;
    display: inline;
}